body {
    font-family: Arial sans-serif;
    background: #000099;
    padding: 40px;
}

.container4 {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba (0,0,0,0.1);
}

.form-row {
    display: flex;
    gap: 30px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="epost"],
input[type="lösenord"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.checkbox-group {
    display: flex;
    align-items: flex-start;
}

.checkbox-group input {
    margin-right: 10px;
    margin-top: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
